In [2]:
import numpy as np
import pandas as pd
from pyspark.sql import SQLContext
import glob
import os
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql import SQLContext
from pyspark.sql.functions import *


print "Loading Crime DataSet Started"
path = '/home/krishna/Downloads/crimes_18_only.csv'
crime_directories = glob.glob('/home/krishna/Downloads/crimes_18_only.csv')

conf = SparkConf().setAppName("AWS1")
sc = SparkContext(conf = conf)

# Configuring Spark Session
spark = SparkSession(sc)

# Creating SQL Context
sqlContext = SQLContext(sc)

house_directories = glob.glob('/home/krishna/Downloads/pp-2018.csv')
df = sqlContext.read.format('com.databricks.spark.csv')\
                    .options(header='false')\
                    .load(house_directories)

Loading Crime DataSet Started

In [3]:
df.count()

1023150

In [4]:
df.head(10)

[Row(_c0=u'{79A74E21-D11E-1289-E053-6B04A8C01627}', _c1=u'770000', _c2=u'2018-09-25 00:00', _c3=u'SK7 1AR', _c4=u'D', _c5=u'N', _c6=u'F', _c7=u'5', _c8=None, _c9=u'OAK MEADOW', _c10=u'BRAMHALL', _c11=u'STOCKPORT', _c12=u'STOCKPORT', _c13=u'GREATER MANCHESTER', _c14=u'A', _c15=u'A'),
 Row(_c0=u'{79A74E21-D11F-1289-E053-6B04A8C01627}', _c1=u'253500', _c2=u'2018-09-24 00:00', _c3=u'M6 8GQ', _c4=u'D', _c5=u'N', _c6=u'F', _c7=u'1', _c8=None, _c9=u'RIVINGTON ROAD', _c10=None, _c11=u'SALFORD', _c12=u'SALFORD', _c13=u'GREATER MANCHESTER', _c14=u'A', _c15=u'A'),
 Row(_c0=u'{79A74E21-D120-1289-E053-6B04A8C01627}', _c1=u'231950', _c2=u'2018-09-28 00:00', _c3=u'WA3 2UE', _c4=u'D', _c5=u'Y', _c6=u'F', _c7=u'35', _c8=None, _c9=u'STONEACRE CLOSE', _c10=u'LOWTON', _c11=u'WARRINGTON', _c12=u'WIGAN', _c13=u'GREATER MANCHESTER', _c14=u'A', _c15=u'A'),
 Row(_c0=u'{79A74E21-D121-1289-E053-6B04A8C01627}', _c1=u'112500', _c2=u'2018-08-29 00:00', _c3=u'OL6 6RJ', _c4=u'S', _c5=u'N', _c6=u'F', _c7=u'102', _c8=None, _c9=u'THORNFIELD GROVE', _c10=None, _c11=u'ASHTON-UNDER-LYNE', _c12=u'TAMESIDE', _c13=u'GREATER MANCHESTER', _c14=u'A', _c15=u'A'),
 Row(_c0=u'{79A74E21-D122-1289-E053-6B04A8C01627}', _c1=u'184995', _c2=u'2018-06-15 00:00', _c3=u'M46 0TW', _c4=u'S', _c5=u'Y', _c6=u'F', _c7=u'37', _c8=None, _c9=u'THREADNEEDLE PLACE', _c10=u'ATHERTON', _c11=u'MANCHESTER', _c12=u'WIGAN', _c13=u'GREATER MANCHESTER', _c14=u'A', _c15=u'A'),
 Row(_c0=u'{79A74E21-D123-1289-E053-6B04A8C01627}', _c1=u'214995', _c2=u'2018-09-28 00:00', _c3=u'M28 3XS', _c4=u'D', _c5=u'Y', _c6=u'L', _c7=u'9', _c8=None, _c9=u'MARPLE GARDENS', _c10=u'WORSLEY', _c11=u'MANCHESTER', _c12=u'SALFORD', _c13=u'GREATER MANCHESTER', _c14=u'A', _c15=u'A'),
 Row(_c0=u'{79A74E21-D124-1289-E053-6B04A8C01627}', _c1=u'378000', _c2=u'2018-09-21 00:00', _c3=u'M45 7QN', _c4=u'D', _c5=u'N', _c6=u'L', _c7=u'36', _c8=None, _c9=u'HILLINGDON ROAD', _c10=u'WHITEFIELD', _c11=u'MANCHESTER', _c12=u'MANCHESTER', _c13=u'GREATER MANCHESTER', _c14=u'A', _c15=u'A'),
 Row(_c0=u'{79A74E21-D125-1289-E053-6B04A8C01627}', _c1=u'272500', _c2=u'2018-05-25 00:00', _c3=u'WN6 0GQ', _c4=u'D', _c5=u'Y', _c6=u'L', _c7=u'11', _c8=None, _c9=u'HEDGEBANK', _c10=u'STANDISH', _c11=u'WIGAN', _c12=u'WIGAN', _c13=u'GREATER MANCHESTER', _c14=u'A', _c15=u'A'),
 Row(_c0=u'{79A74E21-D127-1289-E053-6B04A8C01627}', _c1=u'169950', _c2=u'2018-09-20 00:00', _c3=u'WN6 0ZJ', _c4=u'S', _c5=u'Y', _c6=u'F', _c7=u'50', _c8=None, _c9=u'FOXTAIL MEADOW', _c10=u'STANDISH', _c11=u'WIGAN', _c12=u'WIGAN', _c13=u'GREATER MANCHESTER', _c14=u'A', _c15=u'A'),
 Row(_c0=u'{79A74E21-D128-1289-E053-6B04A8C01627}', _c1=u'260995', _c2=u'2018-08-30 00:00', _c3=u'WN6 0UU', _c4=u'D', _c5=u'Y', _c6=u'F', _c7=u'49', _c8=None, _c9=u'STABLEFORD CLOSE', _c10=u'STANDISH', _c11=u'WIGAN', _c12=u'WIGAN', _c13=u'GREATER MANCHESTER', _c14=u'A', _c15=u'A')]

In [5]:
from pyspark.sql.functions import mean as _mean, stddev as _stddev, col

In [6]:
df_stats = df.select(
    _mean(col('_c1')).alias('mean'),
).collect()

In [7]:
df_stats[0]['mean']

349707.0311342423

In [9]:
ss = df.groupBy(col("_c3"))

In [10]:
ss

In [15]:

from pyspark.sql import functions as F
calc_mean = df.groupBy("_c3").agg(F.mean('_c1'))

In [16]:
calc_mean.count()

538092

In [22]:
year_df = df.select(dayofyear('_c2').alias('year')).collect()

In [55]:
from pyspark.sql.functions import col

filter_date = df.filter(col("_c2").contains("2018"))

In [56]:
filter_date.count()

1023150

In [53]:
calc_mean.head(10)

[Row(_c3=u'BB3 1HE', avg(_c1)=82000.0),
 Row(_c3=u'LN12 2HH', avg(_c1)=234666.66666666666),
 Row(_c3=u'TN27 9NE', avg(_c1)=194666.66666666666),
 Row(_c3=u'TF9 3FS', avg(_c1)=302187.5),
 Row(_c3=u'PR7 3EQ', avg(_c1)=103000.0),
 Row(_c3=u'DN4 5EA', avg(_c1)=102250.0),
 Row(_c3=u'NG2 7QH', avg(_c1)=160000.0),
 Row(_c3=u'DA5 1NT', avg(_c1)=385000.0),
 Row(_c3=u'ST2 9BU', avg(_c1)=85500.0),
 Row(_c3=u'ST4 6FE', avg(_c1)=182280.76923076922)]

In [ ]:
df.filter()

In [60]:
new_df = filter_date.join(calc_mean, on=['_c3'],how='left_outer')

In [61]:
new_df.count()

1023150

In [64]:
new_df.head(20)

[Row(_c3=u'AL1 1TG', _c0=u'{7E86B6FA-D924-458C-E053-6B04A8C0C84C}', _c1=u'1043050', _c2=u'2018-10-19 00:00', _c4=u'D', _c5=u'N', _c6=u'F', _c7=u'7', _c8=None, _c9=u'NEW BARNES AVENUE', _c10=None, _c11=u'ST ALBANS', _c12=u'ST ALBANS', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=1043050.0),
 Row(_c3=u'AL1 4TZ', _c0=u'{666758D6-D601-3363-E053-6B04A8C0D74E}', _c1=u'950000', _c2=u'2018-01-19 00:00', _c4=u'S', _c5=u'N', _c6=u'F', _c7=u'69', _c8=None, _c9=u'SALISBURY AVENUE', _c10=None, _c11=u'ST ALBANS', _c12=u'ST ALBANS', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=950000.0),
 Row(_c3=u'AL3 4RB', _c0=u'{79A74E21-8FE5-1289-E053-6B04A8C01627}', _c1=u'592000', _c2=u'2018-10-10 00:00', _c4=u'T', _c5=u'N', _c6=u'F', _c7=u'44', _c8=None, _c9=u'PORTLAND STREET', _c10=None, _c11=u'ST ALBANS', _c12=u'ST ALBANS', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=592000.0),
 Row(_c3=u'AL4 0QF', _c0=u'{6DA08449-EEA3-30F2-E053-6B04A8C05F3B}', _c1=u'217000', _c2=u'2018-03-01 00:00', _c4=u'F', _c5=u'N', _c6=u'L', _c7=u'43', _c8=None, _c9=u'HALL GARDENS', _c10=u'COLNEY HEATH', _c11=u'ST ALBANS', _c12=u'ST ALBANS', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=217000.0),
 Row(_c3=u'AL4 8PA', _c0=u'{7C2D0700-1515-4963-E053-6B04A8C07B97}', _c1=u'495000', _c2=u'2018-11-01 00:00', _c4=u'S', _c5=u'N', _c6=u'F', _c7=u'71', _c8=None, _c9=u'CAESARS ROAD', _c10=u'WHEATHAMPSTEAD', _c11=u'ST ALBANS', _c12=u'ST ALBANS', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=495000.0),
 Row(_c3=u'AL4 8QE', _c0=u'{80E1AA98-18BE-7BF8-E053-6C04A8C00BF2}', _c1=u'800000', _c2=u'2018-12-10 00:00', _c4=u'D', _c5=u'N', _c6=u'F', _c7=u'24A', _c8=None, _c9=u'LATTIMORE ROAD', _c10=u'WHEATHAMPSTEAD', _c11=u'ST ALBANS', _c12=u'ST ALBANS', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=800000.0),
 Row(_c3=u'AL4 9JZ', _c0=u'{80E1AA98-1911-7BF8-E053-6C04A8C00BF2}', _c1=u'250000', _c2=u'2018-12-20 00:00', _c4=u'F', _c5=u'N', _c6=u'L', _c7=u'THE LARCHES', _c8=u'FLAT 21', _c9=u'MILFORD CLOSE', _c10=None, _c11=u'ST ALBANS', _c12=u'ST ALBANS', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=250000.0),
 Row(_c3=u'AL5 2RY', _c0=u'{7E86B6FB-AAB4-458C-E053-6B04A8C0C84C}', _c1=u'1040000', _c2=u'2018-12-07 00:00', _c4=u'O', _c5=u'N', _c6=u'L', _c7=u'21', _c8=None, _c9=u'HIGH STREET', _c10=None, _c11=u'HARPENDEN', _c12=u'ST ALBANS', _c13=u'HERTFORDSHIRE', _c14=u'B', _c15=u'A', avg(_c1)=1040000.0),
 Row(_c3=u'AL5 3PY', _c0=u'{666758D6-D673-3363-E053-6B04A8C0D74E}', _c1=u'1195000', _c2=u'2018-01-29 00:00', _c4=u'D', _c5=u'N', _c6=u'F', _c7=u'COLES HOUSE', _c8=None, _c9=u'COLES LANE', _c10=None, _c11=u'HARPENDEN', _c12=u'ST ALBANS', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=1195000.0),
 Row(_c3=u'AL5 4AH', _c0=u'{79A74E21-931C-1289-E053-6B04A8C01627}', _c1=u'445000', _c2=u'2018-10-12 00:00', _c4=u'F', _c5=u'N', _c6=u'L', _c7=u'24', _c8=None, _c9=u'CLARENCE ROAD', _c10=None, _c11=u'HARPENDEN', _c12=u'ST ALBANS', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=445000.0),
 Row(_c3=u'AL6 0RZ', _c0=u'{726BF13A-C63F-0A46-E053-6C04A8C01D0D}', _c1=u'499995', _c2=u'2018-07-12 00:00', _c4=u'D', _c5=u'N', _c6=u'F', _c7=u'8', _c8=None, _c9=u'WOODLAND WAY', _c10=None, _c11=u'WELWYN', _c12=u'WELWYN HATFIELD', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=569997.5),
 Row(_c3=u'AL6 0RZ', _c0=u'{79A74E21-929E-1289-E053-6B04A8C01627}', _c1=u'640000', _c2=u'2018-10-09 00:00', _c4=u'D', _c5=u'N', _c6=u'F', _c7=u'9', _c8=None, _c9=u'WOODLAND WAY', _c10=None, _c11=u'WELWYN', _c12=u'WELWYN HATFIELD', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=569997.5),
 Row(_c3=u'AL6 0SB', _c0=u'{7E86B6FA-D6FD-458C-E053-6B04A8C0C84C}', _c1=u'750000', _c2=u'2018-12-10 00:00', _c4=u'D', _c5=u'N', _c6=u'F', _c7=u'1A', _c8=None, _c9=u'CHESTNUT WALK', _c10=None, _c11=u'WELWYN', _c12=u'WELWYN HATFIELD', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=750000.0),
 Row(_c3=u'AL6 9FU', _c0=u'{79A74E21-9464-1289-E053-6B04A8C01627}', _c1=u'900000', _c2=u'2018-09-21 00:00', _c4=u'S', _c5=u'N', _c6=u'F', _c7=u'4', _c8=None, _c9=u'REEVES COURT', _c10=None, _c11=u'WELWYN', _c12=u'WELWYN HATFIELD', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=900000.0),
 Row(_c3=u'AL7 4FP', _c0=u'{7C2D0700-19D0-4963-E053-6B04A8C07B97}', _c1=u'332495', _c2=u'2018-07-26 00:00', _c4=u'F', _c5=u'Y', _c6=u'L', _c7=u'41', _c8=None, _c9=u'DUCHESS COURT', _c10=None, _c11=u'WELWYN GARDEN CITY', _c12=u'WELWYN HATFIELD', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=341059.1304347826),
 Row(_c3=u'AL7 4FP', _c0=u'{7C2D0700-19D4-4963-E053-6B04A8C07B97}', _c1=u'322995', _c2=u'2018-07-27 00:00', _c4=u'F', _c5=u'Y', _c6=u'L', _c7=u'14', _c8=None, _c9=u'DUCHESS COURT', _c10=None, _c11=u'WELWYN GARDEN CITY', _c12=u'WELWYN HATFIELD', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=341059.1304347826),
 Row(_c3=u'AL7 4FP', _c0=u'{7C2D0700-19D6-4963-E053-6B04A8C07B97}', _c1=u'317995', _c2=u'2018-07-27 00:00', _c4=u'F', _c5=u'Y', _c6=u'L', _c7=u'8', _c8=None, _c9=u'DUCHESS COURT', _c10=None, _c11=u'WELWYN GARDEN CITY', _c12=u'WELWYN HATFIELD', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=341059.1304347826),
 Row(_c3=u'AL7 4FP', _c0=u'{7C2D0700-19D9-4963-E053-6B04A8C07B97}', _c1=u'327500', _c2=u'2018-07-30 00:00', _c4=u'F', _c5=u'Y', _c6=u'L', _c7=u'39', _c8=None, _c9=u'DUCHESS COURT', _c10=None, _c11=u'WELWYN GARDEN CITY', _c12=u'WELWYN HATFIELD', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=341059.1304347826),
 Row(_c3=u'AL7 4FP', _c0=u'{7C2D0700-19DD-4963-E053-6B04A8C07B97}', _c1=u'289995', _c2=u'2018-07-27 00:00', _c4=u'F', _c5=u'Y', _c6=u'L', _c7=u'40', _c8=None, _c9=u'DUCHESS COURT', _c10=None, _c11=u'WELWYN GARDEN CITY', _c12=u'WELWYN HATFIELD', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=341059.1304347826),
 Row(_c3=u'AL7 4FP', _c0=u'{7C2D0700-19E7-4963-E053-6B04A8C07B97}', _c1=u'337495', _c2=u'2018-07-30 00:00', _c4=u'F', _c5=u'Y', _c6=u'L', _c7=u'46', _c8=None, _c9=u'DUCHESS COURT', _c10=None, _c11=u'WELWYN GARDEN CITY', _c12=u'WELWYN HATFIELD', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=341059.1304347826)]

In [86]:
rows = new_df.head(5)
for row in rows:
    print type(row['avg(_c1)'])

<type 'float'>
<type 'float'>
<type 'float'>
<type 'float'>
<type 'float'>

In [78]:
from pyspark.sql.types import IType
data_df = data_df.withColumn("Plays", data_df["Plays"].cast(IntegerType()))

AttributeError: 'DataFrame' object has no attribute 'cast'

In [92]:
from pyspark.sql.types import DoubleType
new_df = new_df.withColumn("_c1", new_df["_c1"].cast(DoubleType()))

In [93]:
new_df

DataFrame[_c3: string, _c0: string, _c1: double, _c2: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, avg(_c1): double, Plays: float]

In [96]:
new_df.head(10)

[Row(_c3=u'AL1 1TG', _c0=u'{7E86B6FA-D924-458C-E053-6B04A8C0C84C}', _c1=1043050.0, _c2=u'2018-10-19 00:00', _c4=u'D', _c5=u'N', _c6=u'F', _c7=u'7', _c8=None, _c9=u'NEW BARNES AVENUE', _c10=None, _c11=u'ST ALBANS', _c12=u'ST ALBANS', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=1043050.0, Plays=1043050.0),
 Row(_c3=u'AL1 4TZ', _c0=u'{666758D6-D601-3363-E053-6B04A8C0D74E}', _c1=950000.0, _c2=u'2018-01-19 00:00', _c4=u'S', _c5=u'N', _c6=u'F', _c7=u'69', _c8=None, _c9=u'SALISBURY AVENUE', _c10=None, _c11=u'ST ALBANS', _c12=u'ST ALBANS', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=950000.0, Plays=950000.0),
 Row(_c3=u'AL3 4RB', _c0=u'{79A74E21-8FE5-1289-E053-6B04A8C01627}', _c1=592000.0, _c2=u'2018-10-10 00:00', _c4=u'T', _c5=u'N', _c6=u'F', _c7=u'44', _c8=None, _c9=u'PORTLAND STREET', _c10=None, _c11=u'ST ALBANS', _c12=u'ST ALBANS', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=592000.0, Plays=592000.0),
 Row(_c3=u'AL4 0QF', _c0=u'{6DA08449-EEA3-30F2-E053-6B04A8C05F3B}', _c1=217000.0, _c2=u'2018-03-01 00:00', _c4=u'F', _c5=u'N', _c6=u'L', _c7=u'43', _c8=None, _c9=u'HALL GARDENS', _c10=u'COLNEY HEATH', _c11=u'ST ALBANS', _c12=u'ST ALBANS', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=217000.0, Plays=217000.0),
 Row(_c3=u'AL4 8PA', _c0=u'{7C2D0700-1515-4963-E053-6B04A8C07B97}', _c1=495000.0, _c2=u'2018-11-01 00:00', _c4=u'S', _c5=u'N', _c6=u'F', _c7=u'71', _c8=None, _c9=u'CAESARS ROAD', _c10=u'WHEATHAMPSTEAD', _c11=u'ST ALBANS', _c12=u'ST ALBANS', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=495000.0, Plays=495000.0),
 Row(_c3=u'AL4 8QE', _c0=u'{80E1AA98-18BE-7BF8-E053-6C04A8C00BF2}', _c1=800000.0, _c2=u'2018-12-10 00:00', _c4=u'D', _c5=u'N', _c6=u'F', _c7=u'24A', _c8=None, _c9=u'LATTIMORE ROAD', _c10=u'WHEATHAMPSTEAD', _c11=u'ST ALBANS', _c12=u'ST ALBANS', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=800000.0, Plays=800000.0),
 Row(_c3=u'AL4 9JZ', _c0=u'{80E1AA98-1911-7BF8-E053-6C04A8C00BF2}', _c1=250000.0, _c2=u'2018-12-20 00:00', _c4=u'F', _c5=u'N', _c6=u'L', _c7=u'THE LARCHES', _c8=u'FLAT 21', _c9=u'MILFORD CLOSE', _c10=None, _c11=u'ST ALBANS', _c12=u'ST ALBANS', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=250000.0, Plays=250000.0),
 Row(_c3=u'AL5 2RY', _c0=u'{7E86B6FB-AAB4-458C-E053-6B04A8C0C84C}', _c1=1040000.0, _c2=u'2018-12-07 00:00', _c4=u'O', _c5=u'N', _c6=u'L', _c7=u'21', _c8=None, _c9=u'HIGH STREET', _c10=None, _c11=u'HARPENDEN', _c12=u'ST ALBANS', _c13=u'HERTFORDSHIRE', _c14=u'B', _c15=u'A', avg(_c1)=1040000.0, Plays=1040000.0),
 Row(_c3=u'AL5 3PY', _c0=u'{666758D6-D673-3363-E053-6B04A8C0D74E}', _c1=1195000.0, _c2=u'2018-01-29 00:00', _c4=u'D', _c5=u'N', _c6=u'F', _c7=u'COLES HOUSE', _c8=None, _c9=u'COLES LANE', _c10=None, _c11=u'HARPENDEN', _c12=u'ST ALBANS', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=1195000.0, Plays=1195000.0),
 Row(_c3=u'AL5 4AH', _c0=u'{79A74E21-931C-1289-E053-6B04A8C01627}', _c1=445000.0, _c2=u'2018-10-12 00:00', _c4=u'F', _c5=u'N', _c6=u'L', _c7=u'24', _c8=None, _c9=u'CLARENCE ROAD', _c10=None, _c11=u'HARPENDEN', _c12=u'ST ALBANS', _c13=u'HERTFORDSHIRE', _c14=u'A', _c15=u'A', avg(_c1)=445000.0, Plays=445000.0)]